h1{
    position:absolute;
    top: 100px;
    left: 615px;
}
p{
    margin: 0;
    padding: 0;
}
.box{
    position: relative;
    height: 100px;
    width: 100px;
    border:1px solid black;
    margin: 20px;
    text-align: center;
    font:100px bolder;
}

#box-1{
    position: absolute;
    top:250px;
    left:550px;
}

#box-2{
    position: absolute;
    top:250px;
    left:650px;
}
#box-3{
    position: absolute;
    top:250px;
    left:750px;
}
#box-4{
    position: absolute;
    top:350px;
    left:550px;
}
#box-5{
    position: absolute;
    top:350px;
    left:650px;
}
#box-6{
    position: absolute;
    top:350px;
    left:750px;
}
#box-7{
    position: absolute;
    top:450px;
    left:550px;
}
#box-8{
    position: absolute;
    top:450px;
    left:650px;
}
#box-9{
    position: absolute;
    top:450px;
    left:750px;
}