<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
</head>
<body>
<h1>Welcome to the text analyser. <br> Enter your text below. </h1>
<form action="/analyzer" method="get">
    <textarea name="text" style="margin: 0px 797px 0px 0px; width: 526px; height: 100px;"></textarea>

    <input type="checkbox" name="rempunc">Remove Punctuations<br>
    <input type="checkbox" name="upcase">UPPERCASE<br>
    <input type="checkbox" name="lowcase">lowercase<br>
    <input type="checkbox" name="exsprem">Extra space remover<br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>