{% extends 'basic.html' %}
{% block body %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Enter your text and let textutil do it's magic</strong>
    </div>
    <br>
    <div style="padding-left: 0.5cm;">
      <form action="/analyzer" method="get">
        <div class="form-group" class="border border-success">
          <label for="Textarea">&nbsp; &nbsp; Enter your text here</label>
          <textarea class="form-control" name="text" id="Textarea"
            style="margin-top: 10px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; height: 177px;"></textarea>
        </div>
        <br>
        <div>
          <div class="form-check form-switch">
            <label class="form-check-label" for="removepunc">Remove Punctuations</label>
            <input class="form-check-input" name="rempunc" type="checkbox" id="removepunc">
          </div>
          <div class="form-check form-switch">
            <label class="form-check-label" for="convup">UPPERCASE</label>
            <input class="form-check-input" name="upcase" type="checkbox" id="convup">
          </div>
          <div class="form-check form-switch">
            <label class="form-check-label" for="convlow">lowercase</label>
            <input class="form-check-input" name="lowcase" type="checkbox" id="convlow">
          </div>
          <div class="form-check form-switch">
            <label class="form-check-label" for="removeexsp">Remove extra spaces</label>
            <input class="form-check-input" name="exsprem" type="checkbox" id="removeexsp">
          </div>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-outline-success">Analyze</button>
        </div>
      </form>
    </div>
    {% endblock %}
