<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy-Policy</title>
    <style>
        body{
            background-image: url("../static/images/signup.jpg");
            background-size: cover;
            color: white;
            font-size: 48px;
        }
        h1{
            text-align: center;
            text-decoration: underline;
        }
        p{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>TERMS AND CONDITIONS</h1>
    <p>See, I am a nice person, I have not clearly thought of any separate terms than any other site,
        just you have to accept all the cookies, do a naked dance at midnight, spin a hula-hoop while making wolf sounds, ofcourse during full moons
        and do a jazz hands whenever someone sneezes. Any disagreement with the terms may cause your termination
        unless you have a lot of money or have any naked picture of the developer to blackmail him, in that case feel free to do as you please. 
        Thank you.
        One more thing, keep visiting this page from time to time to get to know any further changes. 
        That’s pretty much it! Now go and read the amazing articles we posted for you instead reading these terms.
        If you have any further query about these Terms, please don't contact us, we can't care any less.</p>
</body>
</html>